@font-face {
    font-family: 'Zain';
    src: url('Zain-Black.woff2') format('woff2'),
        url('Zain-Black.woff') format('woff'),
        url('Zain-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-Bold.woff2') format('woff2'),
        url('Zain-Bold.woff') format('woff'),
        url('Zain-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-ExtraBold.woff2') format('woff2'),
        url('Zain-ExtraBold.woff') format('woff'),
        url('Zain-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-ExtraLight.woff2') format('woff2'),
        url('Zain-ExtraLight.woff') format('woff'),
        url('Zain-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-Italic.woff2') format('woff2'),
        url('Zain-Italic.woff') format('woff'),
        url('Zain-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-Light.woff2') format('woff2'),
        url('Zain-Light.woff') format('woff'),
        url('Zain-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-Regular.woff2') format('woff2'),
        url('Zain-Regular.woff') format('woff'),
        url('Zain-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zain';
    src: url('Zain-LightItalic.woff2') format('woff2'),
        url('Zain-LightItalic.woff') format('woff'),
        url('Zain-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

